footer {
    background-color: var(--header-background-color);
    margin-top: 2rem;
}

.footer-content {
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
}

.footer-content .left-side {
    display: flex;
    align-items: center;
}

.left-side, .right-side {
    height: 100%;
    width: 60%;
}

.right-side{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
}

.left-side img {
    height: 100%;
}

.right-side img {   
    width: 60%;
    margin: 0 auto;
    display: block;
}
