.nav_expansion_picker {
    background-color: #323232;
    display: flex;
    justify-content: space-between;
}

.nav_expansion_picker button {
    width: 100%;
    padding: 1rem;
    background-color: var(--buttons-background);
    color: var(--primary-text-color);
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.nav_expansion_picker button:hover {
    background-color: var(--buttons-hover-background);
}

.simulator-container {
    display: flex;
}

.nav-expansion-picker{
    background-color: var(--containers-background-color);
    padding: 1rem;
}

.material-list .material{
    cursor: pointer;
    margin: 0.5rem 0;
    transition: color 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.material-list .selected{
    padding-left: 1rem;
    color: var(--element-text-hover);
    transition: padding 0.3s ease-in-out;
}

.material-list .material:hover{
    color: var(--element-text-hover);
}

// .cylinder-svg{
//     transform: rotate(90deg) translateY(-200px);
// }