.nav_expansion_picker {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-picker-responsive {
    display: none;
}

.nav_expansion_picker button {
    width: 100%;
    padding: 1rem;
    background-color: var(--buttons-background);
    font-weight: bold;
    color: var(--color-exception);
    transition: background-color 0.3s ease-in-out;
}

.nav_expansion_picker button:hover {
    background-color: var(--buttons-hover-background);
}

.simulator-container {
    display: flex;
    border-bottom: 1px solid var(--containers-background-color);
}

.info-non-selected {
    width: 100%;
    height: 80vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem;
}

.nav-expansion-picker {
    position: relative;
}

.nav-expansion-picker,
.results-container {
    background-color: var(--containers-background-color);
    padding: 1rem;
}

.results-container {
    margin: 1rem;
    margin-right: 2rem;
    display: flex;
    padding: 1rem 2rem;
    flex-direction: column;
    align-self: flex-start;
    position: sticky;
    top: 30px;
    line-height: 2rem;
}

.results-container h3 {
    text-align: center;
}

.simulator-container {
    align-items: center;
}

.material-list .material {
    cursor: pointer;
    margin: 0.5rem 0;
    transition:
        color 0.3s ease-in-out,
        padding 0.3s ease-in-out;
}

.material-list-responsive {
    display: none;
}


.liquids-exception {
    position: absolute;
    top: 0;
    display: flex;
    left: 100%;
    width: 300%;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}

.liquids-exception select{
    padding: 0.5rem;
    border: none;
    border-radius: 0.3rem;
    background-color: var(--buttons-background);
    color: var(--color-exception);
}

.expansion-holder {
    width: 80%;
    margin: 1rem auto;
    padding: 0 1rem;
}

.cylinder-svg,
.superficial-svg {
    width: 250px;
    height: 300px;
}

.dice-svg {
    width: 150px;
    height: 150px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.superficial-svg {
    width: 150px;
    height: 300px;
}

.material-list .selected {
    padding-left: 1rem;
    color: var(--element-text-hover);
    transition: padding 0.3s ease-in-out;
}

.material-list .material:hover {
    color: var(--element-text-hover);
}

#temperature-slider,
#final-temperature-slider {
    writing-mode: vertical-lr;
    direction: rtl;
    vertical-align: bottom;
}

.display-expansion-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
}

.slider-component {
    width: 100%;
}

.simulator-container input {
    width: 80%;
    margin-bottom: 0.5rem;
    accent-color: var(--inputs-background-color);
}

.slider-container:nth-child(-n + 2) {
    position: absolute;
    top: 40%;
    height: 40%;
}

.composed-sliders{
    position: unset !important;
}

.final-temperature {
    right: 25%;
}

.slider-container:nth-child(-n + 2) input {
    height: 80%;
}

.calc-expansion {
    width: 80%;
    padding: 1rem;
    margin: 1rem auto;
    display: block;
    background-color: var(--buttons-background);
    color: var(--color-exception);
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease-in-out;
}

.calc-expansion:hover {
    background-color: var(--buttons-hover-background);
}

.results-container input {
    padding: 0.5rem;
    border: none;
    background-color: var(--inputs-background-color);
    color: var(--primary-text-color);
}

@media screen and (max-width: 1100px) {
    .slider-container:nth-child(-n + 2) {
        position: relative;
    }

    .slider-container {
        margin: 1rem auto;
    }

    #temperature-slider,
    #final-temperature-slider {
        writing-mode: horizontal-tb;
        direction: unset;
        vertical-align: unset;
    }
    .final-temperature {
        right: unset;
    }
}

@media screen and (max-width: 900px) {
    .simulator-container {
        flex-direction: column;
        overflow-x: hidden;
    }

    .elements-picker {
        width: 100%;
        text-align: center;
    }

    .material-list {
        display: none;
    }

    .material-list-responsive {
        width: 100%;
        display: block;
    }

    .liquids-exception{
        position: relative;
        left: 0;
        padding: 0;
    }

    .material-list-responsive select {
        margin: 1rem auto;
        padding: 0.5rem;
        width: 100%;
        border: none;
        border-radius: 0.3rem;
    }

    .results-container {
        width: 100%;
        margin: 0.5rem auto 0;
        align-items: center;
    }

    .superficial-svg {
        position: relative;
        top: 50px;
    }
    .dice-svg {
        margin-top: 10rem;
    }
}

@media screen and (max-width: 768px) {
    .nav-picker-responsive {
        display: block;
        width: 100%;
        padding: 1rem;
    }

    .nav-picker-responsive select {
        width: 100%;
        margin: 1rem auto;
        padding: 0.5rem;
        display: block;
        border: none;
        background-color: var(--buttons-background);
        color: var(--color-exception);
        border-radius: 0.3rem;
    }

    .nav_expansion_picker button {
        display: none;
    }
}
